.DS_Store
node_modules
/build
/.svelte-kit
/package
/contracts/build

.vercel
.vercel_build_output
.env
.vscode
.assets

/static/images/originals
src/routes/docs/*.svelte
!src/routes/docs/__layout.svelte
