:root {
  --primary-color: #ba3322;
  --secondary-color: #134841;

  --secondary-lighten-4: rgb(242, 244, 243);

  --toastBorderRadius: 5px;
  --toastBackground: #ddd;
  --toastColor: #333;
  --toastPadding: 0 1em;
  --toastBarHeight: 0;

  --onboard-modal-z-index: 1000000;
  --toastContainerTop: calc(64px + 2em);
}

@font-face {
  font-family: "Syabil";
  src: url("/fonts/Syabil-Regular.woff2") format("woff2"),
    url("/fonts/Syabil-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syabil";
  src: url("/fonts/Syabil-Bold.woff2") format("woff2"),
    url("/fonts/Syabil-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Frank";
  src: url("/fonts/Frank-Regular.woff2") format("woff2"),
    url("/fonts/Frank-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.gist .blob-code-content * {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace !important;
}

.gist .blob-code-content {
  padding: 0.5em 0;
}

.gist .gist-file {
  box-shadow: 1em 1em 2em 0.25em rgb(0 0 0 / 10%);
  border: none !important;
  border-radius: 4px !important;
}

.gist .gist-data {
  border-bottom: none !important;
  border-radius: 4px 4px 0 0 !important;
}

.grecaptcha-badge {
  visibility: hidden;
}
